// Here you can add other styles
// .sidebar-nav{
//     background: red;
// }
// .sidebar-brand{
//     background: green;
// }

p{
    margin-bottom: 0;
}
.ReactModal__Overlay--after-open{
    z-index: 10000000 !important;
}
.dateFilter{
    background-color: #fff;
    display: flex;
    padding-top: 10px;
    height: 85px;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba($color: #000000, $alpha: 0.2);
    .date{
        margin-right: 15px;
    }

}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    top: -4px !important;
    background: #fff !important;
}
.databox{
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba($color: #000000, $alpha: 0.2);
    .tablecenter{
        margin-top: 20px;
    }
    .data-form-box{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 15px;
    }
}
.addbtn{
    border: none;
    padding: 5px;
    width: 100px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    margin-top: -6px;
}
.input{
    position: relative;
}
.error{
    position: absolute;
    font-size: 12px;
    color: red;
    
}
.sidebar-nav{
    font-size: 13px;
}
.simplebar-wrapper{
    .nav-item{
        .nav-link{
            color: #fff !important;
        }
    }
}
.nav-group-toggle{
    color: #fff !important;
}
.sidebar.sidebar-fixed{
    background-color: red;
}

//  abhishek start
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .body{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
  }
  .in-body{
    padding: 10px;
  background-color: blue;
  }
  .links{
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .linkli{
    margin-right: 10px;
    margin-right: 10px;
    padding-top: 0px;
    color: #fff;
  }
  .citymasterContainer{
    padding: 10px;
  
  }
  .addbtn{
    border: none;
    padding: 10px;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .tablecenter{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inputsbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  .formefield{
    margin: 10px;
    flex-wrap: wrap;
  }
  .input{
    width: 48%;
    padding: 8px;
  }
  .displayright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .displaystart{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    margin-bottom: 10px;
  }
  .displayflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .displayflexbaseline{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .displayflexend{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .title{
    font-size: 22px;
    font-weight: 500;
  }
  .ReactModal__Overlay--after-open{
    z-index: 1000000 !important;
  }
  .css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{
    z-index: 10000000 !important;
  }
  .submitbtn{
    border: none;
    background-color: red;
    color: #fff;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  
  }
  //   abhishek end